@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Geist:wght@100..900&display=swap');

@theme {
  --font-family-sans: 'Geist', system-ui, -apple-system, sans-serif;
  --font-family-lexend: 'Lexend Exa', system-ui, -apple-system, sans-serif;
  --color-main: #1D2327;
}

.font-lexend {
  font-family: var(--font-family-lexend);
}

.app-bg {
  background-color: var(--color-main);
}

.app-main-margin-fix {
  margin-left: -20px;
}

/* High specificity to override WordPress admin styles */
.app-bg aside .extension-heading {
  @apply !text-slate-500;
}

.app-bg aside nav a.extension-link {
  @apply !text-slate-500 !no-underline !outline-none !shadow-none;
}

.app-bg aside nav a.extension-link:hover {
  @apply !text-slate-200 !bg-slate-700 !outline-none !shadow-none;
}

.app-bg aside nav a.extension-link:focus {
  @apply !outline-none !shadow-none;
}

.app-bg aside nav a.extension-link.active {
  @apply !text-slate-200 !bg-slate-600 !outline-none !shadow-none;
}
