/* SVG Block Styles */
.wp-block-gateway-gty-svg.gty-svg {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.wp-block-gateway-gty-svg.gty-svg svg {
	max-width: 100%;
	height: auto;
}
