.gateway-filters-preview {
	border: 1px solid #ddd;
	padding: 20px;
	background: #f9f9f9;
	border-radius: 2px;

	p {
		margin: 0 0 8px;
	}

	.description {
		font-size: 12px;
		color: #666;
		font-style: italic;
	}
}
